<!DOCTYPE html>
<html lang="en">
<title>SART</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="../static/w3-modified.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../static/awesome-icons.js"></script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif
  }

  .w3-bar,
  h1,
  button {
    font-family: "Montserrat", sans-serif
  }

  .fa-anchor,
  .fa-microscope,
  .fa-seedling {
    font-size: 200px
  }

  .col-container {
    display: table;
    /* Make the container element behave like a table */
    width: 100%;
    /* Set full-width to expand the whole page */
  }

  .col {
    display: table-cell;
    /* Make elements inside the container behave like table cells */
  }

  .center {
    line-height: 200px;
    height: 200px;
    text-align: center;
  }

  .center p {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
  }

  div.nav {
    font-size: 13.2px;
  }

  .w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
  }

  .w3-row.custom-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .w3-row.custom-flex.flex>.w3-col {
    flex: 1 0 290px;
  }

  .w3-row-padding.custom-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .w3-row-padding.custom-flex.flex>.w3-col {
    flex: 1 0 290px;
  }

  .fade {
    opacity: 1;
  }

  .dots {
    border-style: solid;
    border-width: thin;
  }

  .dots.active {
    background-color: green;
  }

  html {
    scroll-behavior: smooth;
  }

  .carousel-control-prev.slideshow:hover {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(255, 255, 255));
  }

  .carousel-control-next.slideshow:hover {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255, 255, 255));
  }
</style>

<body class="w3-justify">
<!-- Navbar -->
    <div class="w3-top" style="z-index: 9999;">
        <div class="nav w3-blue">
            <a class="w3-button w3-right w3-hide-large w3-hover-blue w3-xlarge" href="javascript:void(0);"
                itle="Toggle Navigation Menu" style="text-decoration:none"><i id="menu"
                    class="fa fa-bars w3-round-large" onclick=myFunction()
                    style="background-color: #1E90FF; padding: 5px;"></i>&nbsp;&nbsp;&nbsp;<i class='fas fa-phone'
                    style="font-size: 15px; text-decoration:none;"> 0361-258-2951/3970 </i>| <i class="fa fa-envelope"
                    style="font-size: 15px;text-decoration:none;"> crtoff@iitg.ac.in </i> </a>
            <a class="w3-hide-small w3-hide-medium w3-padding-large float-lg-right" style="text-decoration:none;"> <i
                    class='fas fa-phone'></i> 0361-258-2951/3970 | <i class="fa fa-envelope"></i> crtoff@iitg.ac.in</a>


            <a href="../index.html"
                class="w3-button w3-medium float-left w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-blue"
                style="text-decoration:none;"><b>Home</b></a>
			
			<div class="w3-dropdown-hover w3-mobile">
				<button class="w3-button w3-medium w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-blue"><b>Academics <i class="fa fa-caret-down"></i></b></button>
				<div class="w3-dropdown-content w3-bar-block w3-card">
				  <a href="../templates/postgraduate.html" class="w3-bar-item w3-button">Postgraduate</a>
				  <a href="../templates/doctoral.html" class="w3-bar-item w3-button">Doctoral</a>
				</div>
			</div>
			
			<div class="w3-dropdown-hover">
				<button class="w3-button w3-medium w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-blue"><b>People <i class="fa fa-caret-down"></i></b></button>
				<div class="w3-dropdown-content w3-bar-block w3-card">
				  <a href="../templates/Faculty.html" class="w3-bar-item w3-button">Faculty</a>
				  <a href="../templates/staff.html" class="w3-bar-item w3-button">Staff</a>
				  <a href="../templates/students.html" class="w3-bar-item w3-button">Students</a>
				</div>
			</div>
			
			<div class="w3-dropdown-hover ">
				<button class="w3-button w3-medium w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-blue"><b>Research <i class="fa fa-caret-down"></i></b></button>
				<div class="w3-dropdown-content w3-bar-block w3-card">
				  <a href="../templates/publications.html" class="w3-bar-item w3-button">Publications</a>
				  <a href="../templates/projects.html" class="w3-bar-item w3-button">Projects</a>
				</div>
			</div>

            <a href="../templates/admission.html"
                class="w3-button w3-hide-small w3-hide-medium w3-medium w3-padding-large w3-hover-light-blue"
                style="text-decoration:none;"><b>Admission</b></a>

			<a href="../templates/facilities.html"
                class="w3-button w3-hide-small w3-hide-medium w3-medium w3-padding-large w3-hover-light-blue"
                style="text-decoration:none;"><b>Facilities</b></a>

            <a href="../templates/gallery.html"
                class="w3-button w3-hide-small w3-hide-medium  w3-medium w3-padding-large w3-hover-light-blue"
                style="text-decoration:none"><b>Gallery</b></a>

            <a href="#contact"
                class="w3-button w3-hide-small w3-hide-medium w3-medium w3-padding-large w3-hover-light-blue"
                style="text-decoration:none"><b>Contact Us</b></a>

        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-card w3-white w3-hide w3-hide-large w3-large w3-animate-top"
            style="background-color: #4de65a; height:200vh;">
            <a href="../index.html" class="w3-bar-item w3-left w3-button w3-padding-large w3-border" onclick=minimize()>Home</a>
			
			<div class="w3-dropdown-click">
				<div class="w3-button w3-left w3-card" onclick="myAccFunc('accacad')">Academics <i class="fa fa-caret-down w3-right" ></i></div>
				<div id="accacad" class="w3-hide w3-white w3-card-4">
					<a href="../templates/postgraduate.html" class="w3-bar-item w3-button">Postgraduate</a>
					<a href="../templates/doctoral.html" class="w3-bar-item w3-button">Doctoral</a>
				</div>
			</div>
			
			<div class="w3-dropdown-click">
				<div class="w3-button w3-left w3-card" onclick="myAccFunc('accpeople')">People <i class="fa fa-caret-down w3-right"></i></div>
				<div id="accpeople" class="w3-hide w3-white w3-card-4">
					<a href="../templates/Faculty.html" class="w3-bar-item w3-button">Faculty</a>
					<a href="../templates/staff.html" class="w3-bar-item w3-button">Staff</a>
					<a href="../templates/students.html" class="w3-bar-item w3-button">Student</a>
				</div>
			</div>
			
			<div class="w3-dropdown-click">
				<div class="w3-button w3-left w3-card" onclick="myAccFunc('accresearch')">Research <i class="fa fa-caret-down w3-right"></i></div>
				<div id="accresearch" class="w3-hide w3-white w3-card-4">
					<a href="../templates/publications.html" class="w3-bar-item w3-button">Publications</a>
					<a href="../templates/projects.html" class="w3-bar-item w3-button">Projects</a>
				</div>
			</div>

			
            <a href="../templates/admission.html" class="w3-bar-item w3-left w3-button w3-padding-large w3-border">Admission</a>
			<a href="../templates/facilities.html" class="w3-bar-item w3-left w3-button w3-padding-large w3-border">Facilities</a>
            <a href="../templates/gallery.html" class="w3-bar-item w3-left w3-white w3-button w3-padding-large w3-border" onclick=minimize()>Gallery</a>
            <!-- <a href="#news" class="w3-bar-item w3-center w3-button w3-padding-large">News</a> -->
            <a href="#contact" class="w3-bar-item w3-left w3-button w3-padding-large w3-border" onclick=minimize()>Contact us</a>
        </div>
    </div>

    <!-- Header big size-->
    <header class="w3-container w3-white w3-border-bottom w3-border-light-grey w3-hide-small"
        style="padding-top:60px; padding-bottom: 10px;">
        <div class="w3-row">
            <div class="w3-container w3-col l2"> </div>

            <div class="w3-container w3-col l2 w3-center w3-image" onclick="window.location.href='../index.html'"
                style="cursor:pointer;">
                <img src="../img/IIT_Guwahati_Logo.png" style="max-width: 150px;">
            </div>

            <div class="w3-container w3-col l5 w3-center" onclick="window.location.href='#'" style="cursor:pointer;">
                <br>
				<h3>Indian Institute of Technology Guwahati</h3>
                <h2 class="w3-text-green"><b>School of Agro and Rural Technology</b></h2>
                <!-- <h4><i>..linking science with society..</i></h4> -->
            </div>

            <div class="w3-container w3-col l2"></div>

        </div>
    </header>

    <!-- Small size -->
    <header class="w3-container w3-white w3-border-bottom w3-border-grey w3-hide-large w3-hide-medium"
        style="padding-top: 60px; padding-bottom: 10px;">
        <div class="w3-row">
            <div class="w3-container w3-col l2"></div>

            <div class="w3-container w3-col l2 w3-center w3-image" onclick="window.location.href='../index.html'"
                style="cursor:pointer;">
                <img src="../img/IIT_Guwahati_Logo.png" style="max-width: 100px;">
            </div>

            <div class="w3-container w3-col l5 w3-center" onclick="window.location.href='#'" style="cursor:pointer;">
                <h3>IIT Guwahati</h3>
                <h4 class="w3-text-green"><b>School of Agro and Rural Technology</h4>
                <h6><i></i></h6>
            </div>

            <!-- <div class="w3-container w3-col l2"></div> -->

        </div>
    </header>


  <h2 class="w3-center" style="background-color: rgb(158, 255, 255);"> Faculty </h2>
  <!-- First Grid -->
  <div class="w3-row-padding w3-container w3-light-grey">
    <div class="w3-content">
      <div class="w3-quarter w3-padding w3-border-right w3-border-bottom">
        <h2 style="border-bottom: 2px solid rgb(247, 111, 58); width: 200px">Related Links</h2>
        <ul style="list-style: none;margin-left: 0;padding-left: 1em;text-indent: -1em;">
          <li><span style="color:red;">»</span> &nbsp; <a href="../templates/publications.html"> Publications</a></li><br>
          <li><span style="color:red;">»</span> &nbsp; <a href="../templates/awards.html"> Awards and Recognitions</a></li><br>
          <li><span style="color:red;">»</span> &nbsp; <a href="../templates/gallery.html"> Gallery</a></li><br>
          <li><span style="color:red;">»</span> &nbsp; <a href="../templates/eventsandann.html"> Events and Announcements</a></li><br>
		  <li><span style="color:red;">»</span> &nbsp; <a href="../templates/facilities.html"> Facilities</a></li><br>
		  <li><span style="color:red;">»</span> &nbsp; <a href="../templates/projects.html"> Projects</a></li><br>
        </ul>
      </div>


      <div class="w3-threequarter w3-container w3-padding">
	  
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/sp.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center"> 	Dr. Patra, Sanjukta </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5>Head, Professor </h5> 
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:sanjukta@iitg.ac.in" class="w3-text-blue">   sanjukta@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>   +91-361-2582213 <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;"> Food processing and agricultural waste utilisation.</p>
						<a href="https://www.iitg.ac.in/sanjukta/" target="_blank" class="w3-round w3-blue w3-button w3-text-white w3-hover-light-blue"> view website</a>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/smitra.jfif" style="width:180px; height:180px;">
						<h5>Dr. Mitra, Sudip </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Associate Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:sudipmitra@iitg.ac.in" class="w3-text-blue"> sudipmitra@iitg.ac.in </a><br>
						<i class="fa fa-phone" aria-hidden="true"></i> +91-361-258 3800 <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Bio-Fertilizers develpment, Soil quality management, 
						Natural Resources Management and Livelihood, Vulnerability & Adaptation in Agriculture sector. </p>
						<a href="https://www.iitg.ac.in/crt/sudip_mitra/" target="_blank" class="w3-round w3-blue w3-button w3-text-white w3-hover-light-blue"> view website</a>
					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/siddhartha.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center">Dr. Singha, Siddhartha </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Assistant Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:siddharthafp@iitg.ac.in" class="w3-text-blue"> siddharthafp@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>  +91-361-258 3799 (O)   5799 (R)<br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Food Processing Technologies, Process biotechnology, Scale up and commercialization strategies in food- and bio-processing </p>
						<a href="https://www.iitg.ac.in/iitg_faculty_details?name=Siddhartha-Singha&fac=SFloaVJQTTgrZ2Z0WHZZZXVtWnlqdz09" target="_blank" class="w3-round w3-blue w3-button w3-text-white w3-hover-light-blue"> view website</a>
					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/meenak.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center">Dr. Khwairakpam, Meena </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Associate Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:meena.kh@iitg.ac.in" class="w3-text-blue"> meena.kh@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>  +91-361-258 3798 <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Solid waste management, Mechanical composting and vermi composting, Analysis of solid wastes, Biological waste treatment, Water Supply and Sanitation</p>
						
						<a href="https://www.iitg.ac.in/iitg_faculty_details?name=Meena-Khwairakpam&fac=Wml5L0RMOXh0L1hQS21GUDV0Z0gwZz09" target="_blank" class="w3-round w3-blue w3-button w3-text-white w3-hover-light-blue"> view website</a>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/ak.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center">Dr. Kalamdhad, Ajay </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:kajay@iitg.ac.in" class="w3-text-blue"> kajay@iitg.ac.in </a> | </i> <a href="mailto:kalamdhad@gmail.com" class="w3-text-blue"> kalamdhad@gmail.com </a><br>
						<i class="fa fa-phone" aria-hidden="true"></i>  +91-361-258 2431 (O) 258 4431 (R) <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Solid waste management, Mechanical composting and vermicomposting, Analysis of solid wastes </p>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/ru.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center">Dr. Uppaluri, Ramagopal </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:ramgopalu@iitg.ac.in" class="w3-text-blue"> ramgopalu@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>  +91-361-2582260 (O) <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Food Processing</p>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/nk.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center"> Dr. Kishore, Nanda </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:nkishore@iitg.ac.in" class="w3-text-blue"> nkishore@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>  +91-361-2582276 <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Biofuels, Computational Fluid Flow and Heat/Mass Transfer, Density Functional Theory, Non-Newtonian Fluids</p>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/rc.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center"> Dr. Chaturvedi, Rakhi </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:rakhi_chaturvedi@iitg.ac.in" class="w3-text-blue"> rakhi_chaturvedi@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>  +91-361-2582211 (O) <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Plant cell, Tissue & Organ culture, Protoplast Isolation and Regeneration, Isolation, Purification and Characterization of plant Secondary Metabolites</p>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/akd.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center"> Dr. Das, Amarendra K. </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dasak@iitg.ac.in" class="w3-text-blue"> dasak@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>  +91-361-2582454 <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Industrial Design, Rapid Prototyping and Tooling, Space Design, Facility Design, Environmental Graphics, Design for Disabled</p>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/mkd.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center"> Dr. Dutta, Mrinal K. </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:mkdutta@iitg.ac.in" class="w3-text-blue"> mkdutta@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>  + 91-361-2582558 (O) 2584558 (R) <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Agricultural Economics, Environmental Economics, Regional Economic Development</p>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/mj.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center"> Dr. Jawed, Mohammad </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:jawed@iitg.ac.in" class="w3-text-blue">  jawed@iitg.ac.in </a> | <a href="mailto:jawed_iitg@rediffmail.com" class="w3-text-blue">  jawed_iitg@rediffmail.com </a><br>
						<i class="fa fa-phone" aria-hidden="true"></i>   +91-361-258-2406 (O) <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Biological Processes, Anaerobic Wastewater Treatment, Heavy Metal Removal and Recovery, Water Treatment and Supply, Domestic & Industrial Wastewater Treatment</p>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/skk.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center"> 	Dr. Kakoty, Sashindra K. </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:sashin@iitg.ac.in" class="w3-text-blue">   sashin@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>   +91-361-2582659 <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Tribology, Duct Acoustics, Mechanical System Design, Rural Technology</p>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/pankaj.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center"> 	Dr. Kalita, Pankaj </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Associate Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:pankajk@iitg.ac.in" class="w3-text-blue">   pankajk@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>   +91-361-258 3129 <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">Clean Energy Technology (Fluidized bed technology, gasification, AD technology), Energy Storage (Thermal and Compressed Air), Integration of Solar Energy Devices (Thermal and PV), Energy Management</p>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/karunak.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center"> 	Dr. Kalita, Karuna </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Assistant Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:karuna.kalita@iitg.ac.in" class="w3-text-blue">   karuna.kalita@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>   +91-361-2582680 <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;"> Rotordynamics, Coupled Dynamics of Electro-Mechanical Systems, Vibration</p>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/lr.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center"> 	Dr. Rangan, Latha </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Assistant Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:lrangan@iitg.ac.in" class="w3-text-blue">   lrangan@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>   +91-361-258 2214 (O) 258 3203 (Lab)   <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;"> Applied Biodiversity</p>

					</div>
			</div>
		</div>
		
		<div class="w3-container w3-white w3-card">
			<div class="w3-col s12 m4 l4 w3-margin-bottom w3-margin-top fade" style="background-color: #ffffff;">
					<div class="w3-container w3-center">
						<img src="../img/Faculty/arups.jpg" style="width:180px; height:180px;">
						<h5 class="w3-center"> 	Dr. Sarma, Arup K. </h5>
					</div>
			</div>
			
			<div class="w3-col s12 m8 l8 w3-margin-bottom w3-margin-top fade " style="background-color: #ffffff;">
					<div class="w3-container">
						
						<h5> Assistant Professor </h5>	
						<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:aks@iitg.ac.in" class="w3-text-blue">   aks@iitg.ac.in </a> <br>
						<i class="fa fa-phone" aria-hidden="true"></i>   +91-361-258 2409 (O)   <br><br>
						<i class="fa fa-flask" aria-hidden="true"></i> Research Areas:
						<p style="font-weight:normal;">  Modeling & simulation in Free Surface Flow, Heuristic Method in Reservoir Optimization, GIS based Watershed Modeling</p>

					</div>
			</div>
		</div>
		
	  </div>
    </div>

  </div>




  <!-- Footer -->
    <footer id="contact" class="w3-container" style="background-color: #1b1b1b; color: white;">
    <div class="w3-center w3-content">
      <div class="w3-quarter w3-left-align">
        <h4><b>Contact Us</b></h4>
        <p><i class='fas fa-map-marker-alt'></i> &nbsp;&nbsp;&nbsp;School of Agro and Rural<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Technology, IIT
          Guwahati<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guwahati 781039<br>
          <i class='fa fa-envelope'></i> &nbsp;&nbsp;hocrt@iitg.ac.in<br>
          <i class='fas fa-phone'></i> &nbsp;&nbsp;0361-258-2951/3970</li>
        </p>

      </div>

      <div class="w3-quarter w3-left-align">

        <h4><b>Department Resources</b></h4>
        <li><a href="../templates/facilities.html" class="w3-button">Facilities</a></li>
        <li><a href="../templates/gallery.html" class="w3-button">Gallery</a></li>
        <!-- <li><a href="#" class="w3-button">Item 3</a></li> -->

      </div>

      <div class="w3-quarter w3-left-align">

        <h4><b>Important Links</b></h4>
        <li><a href="https://online.iitg.ac.in/iitgauth/login.jsp" target="_blank" class="w3-button">Student Login</a></li>
        <li><a href="https://iitg.ac.in/" target="_blank" class="w3-button">IITG Home</a></li>
        <li><a href="https://www.iitg.ac.in/acad/" target="_blank" class="w3-button">IITG Admissions</a></li>

      </div>

      <div class="w3-quarter w3-left-align">

        <h4><b>Quick Links</b></h4>
        <li><a href="https://tic.iitg.ac.in/" target="_blank" class="w3-button">TIC</a></li>
        <!-- <li><a href="#" class="w3-button">Item 2</a></li> -->
        <!-- <li><a href="#" class="w3-button">Item 3</a></li> -->

      </div>
    </div>
  </footer>
  <div class="w3-center" style="background-color: #000000; color: white;">© School of Agro and Rural Technology , Indian Institute
    of Technology
    Guwahati, All rights
    reserved. Designed by Viksit Labs</div>


  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        var y = document.getElementById("menu");
        y.classList.remove("fa", "fa-bars");
        y.classList.add("fa", "fa-close");
      } else {
        x.className = x.className.replace(" w3-show", "");
        var y = document.getElementById("menu");
        y.classList.remove("fa", "fa-close");
        y.classList.add("fa", "fa-bars");
      }
    }
  </script>
	
  <script>
	function minimize() {
		var x = document.getElementById("menu");
		x.click();
	}
  </script>
	
  <script>
        //Accordion on small screens
		function myAccFunc(id) {
		  var x = document.getElementById(id);
		  if (x.className.indexOf("w3-show") == -1) {
			x.className += " w3-show";
			x.previousElementSibling.className += " w3-green";
		  } else { 
			x.className = x.className.replace(" w3-show", "");
			x.previousElementSibling.className = 
			x.previousElementSibling.className.replace(" w3-green", "");
		  }
		  
		}
   </script>

</body>

</html>